[Unit]
Description=Terminal checking
After=network.target mysql.service
Requires=mysql.service

[Service]
User=ferengi
Group=ferengi
ExecStart=/usr/local/bin/ferengid

[Install]
WantedBy=multi-user.target
