[Unit]
Description=Terminal checking
PartOf=wsgi-services.target

[Service]
User=ferengi
Group=ferengi
ExecStart=/usr/local/bin/ferengid

[Install]
WantedBy=wsgi-services.target
